#base_form{
    background-color: blueviolet;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;

}

#base_table{
    width: 20vw;
    border-collapse: collapse;
}